<ion-view view-title="Chats">
  <ion-content>
  <!--div class="list card" ng-repeat="pregunta in preguntas"-->
<!--  <strong>{{mensaje.mensaje}}</strong></div>-->
  
    <ion-list>
      <ion-item class="item-remove-animate item-avatar" ng-repeat="pregunta in preguntas" type="item-text-wrap">
        <img src="../img/interrogante.jpg">
        <h2>{{pregunta.pregunta}}</h2>
        <ion-radio name="{{pregunta}}" class="item-remove-animate item-avatar" ng-repeat="opciones in pregunta.opciones" type="item-text-wrap">
        {{opciones}}
      </ion-item>
    </ion-list> 
  </ion-content>
</ion-view>
