<ion-view view-title="Chats">
  <ion-content>
  <!--div class="list card" ng-repeat="pregunta in preguntas"-->
<!--  <strong>{{mensaje.mensaje}}</strong></div>-->
  
    <ion-list>
      <ion-item class="item-remove-animate item-avatar" ng-repeat="pregunta in preguntas" type="item-text-wrap">
        <img src="../img/interrogante.jpg">
        <h2>{{pregunta.pregunta}}</h2>
        <ion-radio name="{{pregunta}}" id="{{pregunta}}" class="item-remove-animate item-avatar" ng-repeat="opcion in pregunta.opciones" type="item-text-wrap" ng-value="opcion" ng-model="respuesta.resp">

        <input type="radio" >

        {{opcion}}
      </ion-item>
    </ion-list> 


    <button class="button button-full button-balanced" id="enviar">ENVIAR</button>





  </ion-content>
</ion-view>
